
.btn btn-primary{
    color: wheat;
}


.btn{
    color: wheat;
}
.Trending{
   margin-left: 10%;
}

button:hover{
   border-color: wheat;
}
.selected-container{
    border-radius: 5px;
    background-color: black;
   
    margin-top: 5px;
}
.showingcast,.showinggener{
    display: flex;
}
.td1{
    color: green;
    /* font-family: 'Poppins', sans-serif; */
   
}
.td2{
    color: white;
    font-family: 'Poppins', sans-serif;
}
 .Animation{
   
    bottom: 0;
    left: 1;
    right: 0;
    padding: 10px;
   
    font-size: 160px;
    text-align: center;
    transition: opacity 2s ease-in-out;
 
 
} 
