<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<div class="selected-container"> 
    <div *ngIf="selectedMovie" style="color: #ffffff;">
          <div class="container">
            <div class="row">
                
                <a routerLink="/trending">  <button class="btn btn-outline-success"  style="background-color: black;">Back to Trending</button></a>
                <a routerLink="/geners">  <button class="btn btn-outline-success"  style="background-color: black;">Back to Gener</button></a>
           
            </div> 
              <div class="row"> 
                <div class="col"> 
                    
                        <img [src]="selectedMovie.poster" style="height: 70vh; width: 70vh; margin-top: 10vh; border: 2px solid  orangered; " (mouseover)="hovered()"  (mouseout)="unhovered()">
                     <h1 class="Animation" id="myDiv" style="opacity: 0;">{{selectedMovie.title}}</h1>
                </div> 
              <div class="col"> 
                  <table class="table"  style="background-color:black;">
                    <tbody >
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1"> <h5>Title</h5></td>
                        <td scope="col" style="background-color:black;" class="td2"> <h5>{{selectedMovie.title}}</h5></td>
                      </tr> 
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1"><h5>Year</h5></td>
                        <td scipe="col" style="background-color:black;" class="td2"><h5>{{selectedMovie.year}}</h5></td>
                      </tr> 
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1"> <h5>Rating</h5></td>
                        <td scope="col" style="background-color:black;" class="td2"><h5>{{selectedMovie.rating}}</h5></td>
                      </tr> 
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1"> <h5>Director</h5></td>
                        <td scope="col" style="background-color:black;" class="td2"> <h5>{{selectedMovie.Director}}</h5></td>
                      </tr> 
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1"> <h5>Stars</h5></td>
                        <td scope="col" style="background-color:black;" class="td2"><h5>{{selectedMovie.stars}}</h5></td>
                      </tr> 
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1"><h5>Type</h5></td>
                        <td scope="col" style="background-color:black;" class="td2"><h5>{{selectedMovie.type}}</h5></td>
                      </tr> 
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1" ><h5>RunTime</h5></td>
                        <td scope="col" style="background-color:black;" class="td2"> <h5>{{selectedMovie.runtime}}</h5></td>
                      </tr> 
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1"><h5>Gener</h5></td>
                        <td scope="col" style="background-color:black;" class="td2"><div class="showinggener">
                          <h5 *ngFor="let x of selectedMovie.gener">
                           <button class="btn btn-outline" style="display: inline-block;" >{{x}}</button>
                          </h5>
                         </div></td>
                      </tr>
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1"> <h5>Plot</h5></td>
                        <td scope="col" style="background-color:black;" class="td2"><p>{{selectedMovie.plot}}</p></td>
                      </tr> 
                      <tr> 
                        <td scope="col" style="background-color:black;" class="td1"> <h5>Cast</h5></td>
                        
                        <td scope="col" style="background-color:black;" class="td2"> <div *ngFor="let x of selectedMovie.cast" class="showingcast">
                           <button  class="btn btn-outline-success"  style="display: flex;display: inline-block;"><img [src]="x" style="height: 20vh; width: 20vh;border-radius: 50%;"></button> 
  
                          </div>
                        </td>
                      </tr>
                      
                      
                    
                      
                    </tbody>
                  </table>
              </div>
              </div>
          </div>      
    </div>
  </div>
